{% extends "base.html" %}

{% block content %}
<h2> New content </h2>
<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Title" class="form-control"
               value="{{ request.form['title']}}"></input>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Content" class="form-control">{{ request.form["content"] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
{% endblock %}